<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572245397700-9f97mpirdursq0vtjdmfu4tupcdie7uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572245397700-9f97mpirdursq0vtjdmfu4tupcdie7uh</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Zlg7ciKE0Sx7ZR3amWjJ1JGC4OscKRA</string>
	<key>GCM_SENDER_ID</key>
	<string>572245397700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.janoodle.circlesApp.debug</string>
	<key>PROJECT_ID</key>
	<string>timy-messenger-13b45</string>
	<key>STORAGE_BUCKET</key>
	<string>timy-messenger-13b45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572245397700:ios:d483b71091155d36523991</string>
	<key>DATABASE_URL</key>
	<string>https://timy-messenger-13b45.firebaseio.com</string>
</dict>
</plist>